<div class="login-wrapper">
  <form class="login">
    <section class="title">
      <h3 class="welcome">Welcome to</h3>
      Company Product Name
      <h5 class="hint">Use your Company ID to sign in or create one now</h5>
    </section>
    <div class="login-group">
      <clr-input-container>
        <input type="text" name="username" clrInput placeholder="userName" [(ngModel)]="userName"/>
      </clr-input-container>
      <clr-password-container>
        <input type="password" name="password" clrPassword placeholder="password" [(ngModel)]="password" />
      </clr-password-container>
      <clr-checkbox-wrapper>
        <label>Remember me</label>
        <input type="checkbox" name="rememberMe" clrCheckbox />
      </clr-checkbox-wrapper>
      <!--<div class="error active">
      Invalid user name or password
      </div>-->
      <button type="button" class="btn btn-primary" (click)="signIn(userName, password)">NEXT</button>
      <a href="javascript://" class="signup">Sign up using mail</a>
    </div>
    <div class="flex-c-m">
      <a class="login100-social-item bg1" (click)="socialSignIn('facebook')">
        <i class="fa fa-facebook"></i>
      </a>
      <a class="login100-social-item bg2">
        <i class="fa fa-twitter"></i>
      </a>
      <a class="login100-social-item bg3">
        <i class="fa fa-google"></i>
      </a>
    </div>
  </form>
</div>
