@page
@model ByTravellerUI.Pages.SubMenu.CreateModel

@{
    ViewData["Title"] = "Create";
}

 <h4>Create- Header Sub Menu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HeaderSubMenu.Name" class="control-label"></label>
                <input asp-for="HeaderSubMenu.Name" class="form-control" />
                <span asp-validation-for="HeaderSubMenu.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeaderSubMenu.Index" class="control-label"></label>
                <input asp-for="HeaderSubMenu.Index" class="form-control" />
                <span asp-validation-for="HeaderSubMenu.Index" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HeaderSubMenu.IsActive" /> @Html.DisplayNameFor(model => model.HeaderSubMenu.IsActive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="HeaderSubMenu.HeaderMainMenuId" class="control-label"></label>
                <select asp-for="HeaderSubMenu.HeaderMainMenuId" class ="form-control" asp-items="ViewBag.HeaderMainMenuId"></select>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-outline-success" />
                <a class="btn btn-outline-success" asp-page="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
